@use "../global/variables" as *;
@use "../global/mixins" as *;

.page {
  position: absolute;
  border: 1px solid #e6edee;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  inset: 0;
  z-index: 1;
  background-color: white;
  top: 100%;
  width: 600px;
  margin: 0 auto;
  border-radius: 32px 32px 0 0;
  transition-duration: 500ms;
  transition-property: top;
  padding: 8px 24px;

  @include phone-size {
    width: 100%;
  }

  &--active {
    top: 12%;
  }

  &__separator {
    width: 40px;
    height: 4px;
    background-color: $primary;
    opacity: 0.3;
    border-radius: 9999px;
    margin: 0 auto;
  }

  &__main {
    height: 70%;
    overflow-y: auto;
    @include scrollbar;

    margin: 16px 0;
    padding-right: 8px;
  }

  &__items {
    height: 100%;
  }

  &__item {
    height: 100%;
    &--hidden {
      display: none;
    }
  }

  &__title {
    font-size: 24px;
    text-align: center;
    padding: 8px 0;
    border-bottom: 2px solid #e6edee;
  }
}

.stats {
  &__accordion {
    margin-top: 16px;
  }

  &__accordion:first-of-type {
    margin: 0;
  }
}

.accordion {
  font-size: 16px;

  &__input {
    display: none;

    &:checked {
      & ~ * .accordion__svg {
        transform: rotate(90deg);
      }
      & ~ * .accordion__items {
        display: block;
      }
    }
  }

  &__svg {
    transition: 150ms;
  }

  &__inner {
    border-radius: 16px;
    overflow: hidden;
  }

  &__header {
    display: block;
    padding: 16px 18px;
    border-radius: 16px 16px 0 0;
    background-color: #f2f6f6;

    &:active {
      background-color: #ccdadc;
    }
  }

  &__arrow {
    padding-right: 8px;
  }

  &__title {
    display: flex;
    font-weight: bold;

    dd {
      text-align: right;
      flex-grow: 1;
    }
  }

  &__objects {
    margin: 24px 0;
    max-height: 160px;
    overflow-x: auto;

    @include scrollbar;
  }

  &__object {
    position: relative;
    margin-bottom: 8px;

    &:last-of-type {
      margin-bottom: 0;
    }

    label {
      font-weight: bold;
    }
  }

  &__checkbox {
    position: relative;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
    vertical-align: middle;
    margin-right: 6px;
    width: 18px;
    height: 18px;

    &:checked + .accordion__custom-checkbox::after {
      transform: rotate(227deg) rotateX(180deg) scale(1);
    }
  }

  &__custom-checkbox {
    position: absolute;
    inset: 0;
    top: 1px;
    width: 20px;
    height: 20px;
    background-color: $primary;
    border-radius: 6px;

    &::after {
      position: absolute;
      content: "L";
      color: $secondary;
      font-weight: bold;
      top: -2px;
      right: 5px;
      transform: rotate(227deg) rotateX(180deg) scale(0);
      transition: transform 0.15s ease-in-out;
    }
  }

  &__button {
    display: block;
    cursor: pointer;
    color: white;
    border: none;
    outline: none;
    background-color: $primary;
    font-weight: bold;
    padding: 8px 32px;
    margin: 0 auto;
    border-radius: 32px;
    transition: 150ms;

    &:active {
      transform: scale(0.9);
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__items {
    display: none;
    border-top: 2px solid #e6edee;
    padding: 8px 18px 16px;

    border-radius: 0 0 16px 16px;
    background-color: #f2f6f6;

    &--flat {
      padding-left: 15px;
      padding-top: 8px;
    }
  }

  &__item {
    margin-top: 4px;

    &--separator {
      border-top: 2px solid #e6edee;
      margin: 12px 0;
    }

    dl {
      display: flex;
      gap: 4px;

      dt {
        padding-left: 15px;
        white-space: nowrap;
      }

      div {
        flex-basis: 100%;
        border-bottom: 2px dotted #abc2c5;
        height: 17px;
      }
      dd {
        display: block;
        white-space: nowrap;
      }
    }
  }
}

.nav {
  display: flex;
  position: absolute;
  z-index: 1;
  height: 66px;
  max-width: 400px;
  width: 100%;
  left: 50%;
  bottom: 38px;
  transform: translateX(-50%);
  padding: 0 16px;
  transition: 500ms;
  transition-property: bottom;

  &__add-elements {
    position: absolute;
    inset: 0;
    width: 300px;
  }

  &__add-element {
    width: 41px;
    background-color: white;
    border-radius: 9999px;
    padding: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);

    &:nth-last-of-type(1) {
      position: absolute;
      top: -45px;
      left: -41px;
    }

    &:nth-last-of-type(2) {
      position: absolute;
      top: -88px;
      left: -4px;
    }

    &:nth-last-of-type(3) {
      position: absolute;
      top: -88px;
      left: 52px;
    }
    &:nth-last-of-type(4) {
      position: absolute;
      top: -45px;
      left: 91px;
    }
  }

  &--hide {
    bottom: -100px;
  }

  &__item {
    width: 41px;
    height: 41px;

    &--active {
      .nav__button-img img {
        opacity: 1;
      }

      .nav__button-circle {
        transform: scale(1);
        opacity: 1;
      }
    }
  }

  &__side {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: $primary;
    max-width: 400px;
    width: 100%;
    height: 100%;

    &--left {
      border-top-left-radius: 9999px;
      border-bottom-left-radius: 9999px;
      margin-right: -3px;
    }

    &--right {
      border-top-right-radius: 9999px;
      border-bottom-right-radius: 9999px;
      margin-left: -3px;
    }
  }

  &__middle {
    position: relative;
    bottom: 5px;
  }

  &__button {
    position: relative;
    cursor: pointer;
    display: block;
    background-color: transparent;
    border: none;
    z-index: 1;
    padding: 8px;
    width: 100%;
    height: 100%;

    &--noticed::after {
      content: "";
      display: block;
      position: relative;
      top: -26px;
      right: -12px;
      border: 2px solid $primary;
      width: 8px;
      height: 8px;
      background-color: #f66;
      border-radius: 9999px;
    }

    &:active {
      .nav__button-img {
        transform: scale(0.9);
      }
    }
  }

  &__button-circle {
    position: absolute;
    z-index: -1;
    inset: 0;
    background-color: $secondary;
    border-radius: 9999px;
    width: 41px;
    height: 41px;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: rgba(9, 255, 0, 0.5) 0px 0px 16px;

    transform: scale(0);
    opacity: 0;
  }

  &__button-img {
    display: flex;
    justify-content: center;
    transition: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    img {
      transition: 150ms;
      opacity: 0.3;
    }
  }

  &__button-add {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: $secondary;
    position: relative;
    bottom: 100px;
    left: 12px;
    border-radius: 9999px;
    border: none;
    width: 64px;
    height: 64px;
    transition: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:active {
      transform: scale(0.9);
    }
  }
}

.notification {
  font-size: 16px;
  border-radius: 16px;
  background-color: #f2f6f6;
  padding: 16px 18px;
  margin-top: 16px;

  &__header {
    display: flex;
    margin-bottom: 8px;
  }

  &__author {
    flex-grow: 1;
  }

  &__message {
    font-weight: bold;
  }
  &:first-of-type {
    margin: 0;
  }
}
