@use "../global/variables" as *;

.page {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: white;
  top: 100%;
  border-radius: 32px;
  transition-duration: 500ms;
  transition-property: top;
  padding: 8px 24px 0;

  &--active {
    top: 12%;
  }

  &__separator {
    width: 40px;
    height: 4px;
    background-color: $primary;
    opacity: 0.3;
    border-radius: 9999px;
    margin: 0 auto;
  }

  &__items {
  }

  &__item {
    &--hidden {
      display: none;
    }
  }

  &__title {
    font-size: 24px;
    text-align: center;
    padding: 8px 0;
    border-bottom: 2px solid #e6edee;
  }
}

.accordion {
  font-size: 16px;
  border-radius: 16px;
  background-color: #f2f6f6;

  &:active {
    background-color: #ccdadc;
  }

  &__input {
    display: none;

    &:checked {
      & ~ * .accordion__svg {
        transform: rotate(90deg);
      }
      & ~ * .accordion__items {
        display: block;
      }
    }
  }

  &__svg {
    transition: 150ms;
  }

  &__inner {
    display: block;
    padding: 16px 18px;
  }

  &__arrow {
    padding-right: 8px;
  }

  &__title {
    display: flex;
    font-weight: bold;

    span {
      text-align: right;
      flex-grow: 1;
    }
  }

  &__items {
    display: none;
    border-top: 2px solid #e6edee;
    margin-top: 8px;
    padding-top: 4px;
  }

  &__item {
    margin-top: 4px;
    display: flex;
    gap: 4px;

    p {
      padding-left: 15px;
    }

    div {
      flex-basis: 100%;
      border-bottom: 2px dotted #abc2c5;
      height: 17px;
    }
    span {
      display: block;
      white-space: nowrap;
    }
  }
}

.nav {
  display: flex;
  position: absolute;
  z-index: 1;
  height: 66px;
  max-width: 400px;
  width: 100%;
  left: 50%;
  bottom: 38px;
  transform: translateX(-50%);
  padding: 0 16px;
  transition: 500ms;
  transition-property: bottom;

  &--hide {
    bottom: -100px;
  }

  &__item {
    width: 41px;
    height: 41px;

    &--active {
      .nav__button-img img {
        opacity: 1;
      }

      .nav__button-circle {
        transform: scale(1);
        opacity: 1;
      }
    }
  }

  &__side {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: $primary;
    max-width: 400px;
    width: 100%;
    height: 100%;

    &--left {
      border-top-left-radius: 9999px;
      border-bottom-left-radius: 9999px;
      margin-right: -3px;
    }

    &--right {
      border-top-right-radius: 9999px;
      border-bottom-right-radius: 9999px;
      margin-left: -3px;
    }
  }

  &__middle {
    position: relative;
    bottom: 5px;
  }

  &__button {
    position: relative;
    cursor: pointer;
    display: block;
    background-color: transparent;
    border: none;
    z-index: 1;
    padding: 8px;
    width: 100%;
    height: 100%;

    &:active {
      .nav__button-img {
        transform: scale(0.9);
      }
    }
  }

  &__button-circle {
    position: absolute;
    z-index: -1;
    inset: 0;
    background-color: $secondary;
    border-radius: 9999px;
    width: 41px;
    height: 41px;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: rgba(9, 255, 0, 0.5) 0px 0px 16px;

    transform: scale(0);
    opacity: 0;
  }

  &__button-img {
    display: flex;
    justify-content: center;
    transition: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    img {
      transition: 150ms;
      opacity: 0.3;
    }
  }

  &__button-add {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: $secondary;
    position: relative;
    bottom: 100px;
    left: 12px;
    border-radius: 9999px;
    border: none;
    width: 64px;
    height: 64px;
    transition: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:active {
      transform: scale(0.9);
    }
  }
}
