@use "../global/colors" as *;

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: $white;
  max-height: 600px;
  min-height: 200px;
  width: 300px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 16px;
  border: 1px solid #ccc;
  bottom: 20px;
  left: -50px;

  &__close {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    position: absolute;
    border-radius: 9999px;
    height: 24px;
    width: 24px;
    background-color: $white;
    top: 10px;
    right: 10px;

    &:after {
      content: "✖";
    }
  }

  &__arrow {
    position: absolute;
    bottom: -9px;
    left: 40px;
    width: 16px;
    height: 16px;
    border-width: 0px 1px 1px 0px;
    border-style: solid;
    border-color: #ccc;
    transform: rotate(45deg);
    background-color: white;
  }
}
