@use "./variables" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
input,
textarea,
option,
select,
button {
  font-family: $text-font;
  font-size: $text-size;
  color: $primary;
  line-height: 1.4;
}

li {
  list-style: none;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.hide {
  display: none;
}

img {
  display: block;
}

/* Hide the OSM watermark */
.ol-attribution {
  display: none;
}

// Scale line
.ol-scale-line {
  left: 50%;
  transform: translateX(-50%);
}

/* Hide blue background on click for Android */
button,
ul {
  -webkit-tap-highlight-color: transparent;
}
