@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

$text-font: "Roboto", sans-serif;

$title-size: 24px;
$text-size: 14px;

$primary: #024751;
$secondary: #00d47e;

$white: #fff;

$bg-tree: #ddffe0;
$text-tree: #58d364;
$border-tree: #58d364;
$bg-furniture: #ffeedd;
$text-furniture: #d39658;
$border-furniture: #d39658;
