@use "../global/variables" as *;
@use "../global/mixins" as *;

.search {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 16px;
  left: 50%;
  transition-property: top;
  transition-duration: 500ms;

  &--android {
    top: 50px;
  }

  &--hide {
    top: -64px;
  }

  &__wrapper {
    position: absolute;
    max-width: 400px;
    width: 100%;
    transform: translate(-50%);
    font-size: 16px;

    cursor: pointer;

    padding: 0 16px;
  }

  &__top {
    display: flex;
  }

  &__input {
    display: block;
    width: 100%;
    background-color: $white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 9999px;
    border: 1px solid #e6edee;

    padding: 14px 16px;

    &--showing-elements {
      border-radius: 16px;
      padding-bottom: 8px;

      .search__elements {
        border-top: 1px solid #e6edee;
      }
    }

    &:focus {
      outline: 2px solid $secondary;
      outline-offset: -4px;
    }
  }

  &__text {
    cursor: pointer;
    font-size: inherit;
    display: block;
    font-weight: bold;
    outline: none;
    width: 100%;
    padding: 0 10px;
    background-color: transparent;
    border: none;
    text-align: left;
  }

  &__elements {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 8px;
    margin: 8px 0;
    padding-top: 8px;
    margin-top: 14px;
    cursor: pointer;
    max-height: 440px;
    overflow: auto;

    @include scrollbar;

    &--hide {
      display: none;
    }
  }

  &__element {
    outline: none;
    padding: 8px 28px;
    transition-duration: 150ms;
    border-radius: 9999px;

    &:hover {
      background-color: #e6fbf3;
    }

    &:active {
      color: $white;
      background-color: $secondary;
    }

    &:focus {
      outline: 2px solid $secondary;
      outline-offset: -2px;
    }
  }
}
